---
import repositories from "../../data/repository_statistics.json";
import Layout from "../../layouts/Layout.astro";
import RepositoryBreadcrumbs from "@/components/RepositoryBreadcrumbs.astro";
import "@/styles/globals.css";

interface Repository {
  repository: string;
  total_files: number;
  total_commits: number;
}

export function getStaticPaths() {
  return repositories.flatMap((repository: Repository) => ({
    params: { repository: repository.repository },
  }));
}

const { repository } = Astro.params;
---

<Layout title="Check out my GitHub Stats">
  <main>
    <h1><span class="text-gradient">GitHub Stats</span></h1>
    <RepositoryBreadcrumbs repository={repository} />
  </main>
</Layout>
