name: Deploy Preview to GitHub Pages

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    name: Build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Poetry
        run: pipx install poetry

      - name: Install Python 3.12 with Poetry Cache
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
          cache: "poetry"

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Install Poetry Dependencies
        run: just analyser::install

      - name: Generate GitHub Pages
        env:
          REPOSITORY_OWNER: ${{ github.repository_owner }}
        run: just analyser::run

      - name: Copy generated files to github pages folder
        run: cp -r analyser/statistics/*.json dashboard/src/data

      - name: Install, build, and upload your site
        uses: withastro/action@v3
        with:
          path: ./dashboard
          node-version: 22

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build-and-deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Poetry
        run: pipx install poetry

      - name: Install Python 3.12 with Poetry Cache
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
          cache: "poetry"

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Install Poetry Dependencies
        run: just tests::install

      - name: Run tests
        run: just tests::run

  revert-to-main:
    name: Build Main
    runs-on: ubuntu-latest
    if: failure()
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout main
        run: git checkout main

      - name: Install Poetry
        run: pipx install poetry

      - name: Install Python 3.12 with Poetry Cache
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
          cache: "poetry"

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Install Poetry Dependencies
        run: just analyser::install

      - name: Generate GitHub Pages
        env:
          REPOSITORY_OWNER: ${{ github.repository_owner }}
        run: just analyser::run

      - name: Copy generated files to github pages folder
        run: cp -r analyser/statistics/*.json dashboard/src/data

      - name: Install, build, and upload your site
        uses: withastro/action@v3
        with:
          path: ./dashboard
          node-version: 22
