name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup and Deploy Dashboard
        uses: ./.github/actions/setup-and-deploy-dashboard
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    needs: build
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5

  ui-tests:
    name: UI Tests
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Test Dependencies
        uses: ./.github/actions/setup-test-dependencies

      - name: Run UI Tests
        run: just tests::run
        env:
          HEADLESS: true

  link-tests:
    name: Link Tests
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Run Link Tests
        uses: JustinBeckwith/linkinator-action@v1.11.0
        with:
          paths: https://jackplowman.github.io/github-stats
          recurse: true
          timeout: 1000
          markdown: false
