name: "Sync labels"

on:
  push:
    branches:
      - main
    paths:
      - .github/other-configurations/labels.yml

permissions:
  contents: read

jobs:
  configure-labels:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - uses: micnncim/action-label-syncer@v1.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          manifest: .github/other-configurations/labels.yml
